@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$titleFont: 'Poppins', sans-serif;
$mainFont: 'Roboto', sans-serif;

$h2Size: 1.7rem;
$h2Weight: 700;

$textSize: 0.85rem;

$subtitlesSize: 1rem;
$subtitlesWeight: 500;

$textColor: #00131a;
$textColorLight: #818181;

$backgroundColor: #f0f9ff;
$backgroundColorDark: #d9e8f1;
$backgroundColorTransparent: rgba(240, 249, 255, 0.9);

$primaryColor: #18b7fb;
$primaryColorLight: #7ee0ff;
$primaryColorDark: #0f8ed9;

$secondaryColor: #97cf8c;
$secondaryColorLight: #d4f0c5;
$secondaryColorDark: #6e9e6b;

$accentColor: #b0a69c;
$accentColorLight: #e0d9d6;
$accentColorDark: #7e736f;

$radius: 0.25rem;
